# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars
.terraform/
.terraform.lock.hcl
.env*
DESIGN.md

# k8s secrets
k8s/**/secret.yaml

# k6 test fixtures & seeds
stress-test/**/fixtures*.json
stress-test/**/seed*.sql

# secret
ai-secret.yml