# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars
.terraform/
.terraform.lock.hcl
.env*

# k6 test fixtures & seeds
stress-test/**/fixtures*.json
stress-test/**/seed*.sql